.loginpage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    min-height: 40rem;
    margin-bottom: 10rem;

}

.vl {
  border-left: 1px solid rgba(211,211,211,0.8);
  height: 400px;
  position: absolute;
  left: 50%;
}

@media only screen and (max-width: 1000px) {
  .loginpage {
    display: grid;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
  }

  .vl {
    display: none;
  }

}