// Variables for use across the application
$primary-color: #0b009a;
$accent-color: #fe3a98;

// Font families
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-decorative: 'Shadows Into Light', cursive; 